<!DOCTYPE html>
<html>
    <head>
        <title>冬冬的网站</title>
        <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css" />
        <script type="text/javascript" src="js/lib/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/vue.min.js"></script>
        <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12"  id="divVue">
                    <div>
                        这是一个基础页面，所有的代码都应该写在这个位置
                        <div>
                            <input type="text" v-model="message" />
                            <span class="btn btn-primary" v-on:click="showMessage('1');">事件处理</span>
                            <input type="checkbox" v-model="showhtml">
                            {{message}}
                            <br/>
                            <span v-if="showhtml" v-html="message"></span>
                        </div>
                        <span>{{selList}}</span>
                        <select v-model="selList">
                            <option v-for="d in list" v-bind:value="d.id">{{d.username}}</option>
                        </select>
                        <div v-for="d in list">
                            <a href="javascript:void(0);" v-on:click="showMessage(d.id);">{{d.username}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-app="myApp" ng-controller="MyCtrl">
                    <div>
                        <input type="text" ng-model="data.message" />
                        <span class="btn btn-primary" ng-click="showMessage('1');">事件处理</span>
                        <input type="checkbox" ng-click="data.showhtml=!data.showhtml">
                        {{data.message}}-{{data.showhtml}}
                        <br/>
                        <span ng-show="data.showhtml" ng-bind="data.message"></span>
                    </div>
                    <span>{{data.selList}}</span>
                    <select ng-model="data.selList">
                        <option ng-repeat="d in data.list" ng-value="d.id">{{d.username}}</option>
                    </select>
                    <div ng-repeat="d in data.list">
                        <a href="javascript:void(0);" ng-click="showMessage(d.id);">{{d.username}}</a>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="js/app/blank.js"></script>
        </body>
    </html>